<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor in Clinical Medicine</h1>
            <span>Southern Medical University</span>
            <span><address>Guangzhou, China</address><time>2011 to 2016</time></span>
        </header>
        <p>
            <em>Topics covered include: Anatomy, Biochemistry, Physiology, Pathology, Pharmacology, Biostatistics,Healthcare Management, Bioethics, Internal Medicine, Surgery, Paediatrics, OB&GYN, Neurology, Ophthalmology, etc </em>
        </p>
    </article>
    <article>
        <header>
            <h1>Chinese Language Programme</h1>
            <span>Tongji University</span>
            <span><address>Shanghai, China</address><time>2010 to 2011</time></span>
        </header>
        <p>
            <em>Studied Chinese as a foreign language</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Higher School Certificate</h1>
            <span>Royal College Curepipe</span>
            <span><address>Curepipe, Mauritius</address><time>2008 to 2010</time></span>
        </header>
        <p>
            <em>Higher School Certificate(A’Level) administered by the Mauritius Examinations Syndicate, in conjunction with the University of Cambridge Local Examinations Syndicate of the Cambridge International Examinations Board
</em>
        </p>
    </article>
</section>
