<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor in Clinical Medicine</h1>
            <span>Southern Medical University</span>
            <span><address>Guangzhou, China</address><time>2011 to 2016</time></span>
        </header>
        <p>
            <em>Topics covered include: Anatomy, Biochemistry, Physiology, Pathology, Pharmacology, Biostatistics,Healthcare Management, Bioethics, Internal Medicine, Surgery, Paediatrics, OB&GYN, Neurology, Ophthalmology, etc </em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
</section>
